<section class="banner-area">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-start">
      <div class="col-lg-12">
        <div class="single-product-slider">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6 text-center">
                <div class="section-title">
                  <h1>Your Search Products</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore
                    magna aliqua.</p>
                </div>
              </div>
            </div>
            <%= render "item" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
