
<table>

    <tr>
      <td>
        <strong><%= @product.name %></strong>
      </td>
      <td>
        <strong><%= @product.size %></strong>
      </td>
      <td>
        <strong><%= @product.quantity %></strong>
      </td>
    </tr>

</table>
